# ==========================================
# SmartPark AI Configuration
# ==========================================

APP_NAME=SmartPark AI
APP_VERSION=1.0.0
APP_ENV=development
DEBUG=True

# ==========================================
# API
# ==========================================

API_V1_STR=/api/v1

# ==========================================
# Security Settings
# ==========================================

SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ==========================================
# Database
# ==========================================

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=smartpark_db
DATABASE_USER=postgres
DATABASE_PASSWORD=password

# ==========================================
# CORS
# ==========================================

BACKEND_CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# ==========================================
# AI
# ==========================================

MODEL_PATH=models/model.pkl