BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> c84a7f0c2ce7

CREATE TYPE user_role AS ENUM ('DRIVER', 'ATTENDANT', 'ADMIN');

CREATE TABLE users (
    first_name VARCHAR(100) NOT NULL, 
    last_name VARCHAR(100) NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    phone_number VARCHAR(20), 
    password_hash VARCHAR(255) NOT NULL, 
    role user_role NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    is_verified BOOLEAN NOT NULL, 
    id SERIAL NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_id ON users (id);

INSERT INTO alembic_version (version_num) VALUES ('c84a7f0c2ce7') RETURNING alembic_version.version_num;

-- Running upgrade c84a7f0c2ce7 -> 2e2b24727ce2

ALTER TABLE users ADD CONSTRAINT uq_users_phone_number UNIQUE (phone_number);

UPDATE alembic_version SET version_num='2e2b24727ce2' WHERE alembic_version.version_num = 'c84a7f0c2ce7';

-- Running upgrade 2e2b24727ce2 -> f200ea283f04

CREATE TABLE parking_facilities (
    name VARCHAR(150) NOT NULL, 
    code VARCHAR(30) NOT NULL, 
    facility_type VARCHAR(13) NOT NULL, 
    description TEXT, 
    country VARCHAR(100) NOT NULL, 
    county VARCHAR(100) NOT NULL, 
    city VARCHAR(100) NOT NULL, 
    address VARCHAR(255) NOT NULL, 
    postal_code VARCHAR(20), 
    latitude NUMERIC(9, 6) NOT NULL, 
    longitude NUMERIC(9, 6) NOT NULL, 
    timezone VARCHAR(50) NOT NULL, 
    opening_time TIME WITHOUT TIME ZONE NOT NULL, 
    closing_time TIME WITHOUT TIME ZONE NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    id SERIAL NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT ck_facility_latitude CHECK (latitude >= -90 AND latitude <= 90), 
    CONSTRAINT ck_facility_longitude CHECK (longitude >= -180 AND longitude <= 180)
);

COMMENT ON COLUMN parking_facilities.name IS 'Display name of the parking facility.';

COMMENT ON COLUMN parking_facilities.code IS 'Unique business identifier for the parking facility.';

COMMENT ON COLUMN parking_facilities.facility_type IS 'Business classification of the parking facility.';

COMMENT ON COLUMN parking_facilities.description IS 'Optional description of the parking facility.';

COMMENT ON COLUMN parking_facilities.country IS 'Country where the parking facility is located.';

COMMENT ON COLUMN parking_facilities.county IS 'County where the parking facility is located.';

COMMENT ON COLUMN parking_facilities.city IS 'City where the parking facility is located.';

COMMENT ON COLUMN parking_facilities.address IS 'Physical street address.';

COMMENT ON COLUMN parking_facilities.postal_code IS 'Postal code.';

COMMENT ON COLUMN parking_facilities.latitude IS 'Latitude in decimal degrees.';

COMMENT ON COLUMN parking_facilities.longitude IS 'Longitude in decimal degrees.';

COMMENT ON COLUMN parking_facilities.timezone IS 'IANA timezone.';

COMMENT ON COLUMN parking_facilities.opening_time IS 'Daily opening time.';

COMMENT ON COLUMN parking_facilities.closing_time IS 'Daily closing time.';

COMMENT ON COLUMN parking_facilities.is_active IS 'Indicates whether the facility is operational.';

CREATE INDEX ix_parking_facilities_id ON parking_facilities (id);

CREATE UNIQUE INDEX ix_parking_facility_code ON parking_facilities (code);

CREATE INDEX ix_parking_facility_name ON parking_facilities (name);

UPDATE alembic_version SET version_num='f200ea283f04' WHERE alembic_version.version_num = '2e2b24727ce2';

-- Running upgrade f200ea283f04 -> bbb78a8d290c

CREATE TYPE zone_type AS ENUM ('BUILDING_LEVEL', 'WING', 'SECTION', 'AISLE', 'BLOCK', 'REGION', 'DISTRICT', 'STREET', 'TERMINAL', 'PARKING_LOT', 'CUSTOM');

CREATE TABLE parking_zones (
    facility_id INTEGER NOT NULL, 
    parent_zone_id INTEGER, 
    name VARCHAR(100) NOT NULL, 
    code VARCHAR(30) NOT NULL, 
    zone_type zone_type NOT NULL, 
    description TEXT, 
    sort_order INTEGER DEFAULT '0' NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    id SERIAL NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(facility_id) REFERENCES parking_facilities (id) ON DELETE CASCADE, 
    FOREIGN KEY(parent_zone_id) REFERENCES parking_zones (id) ON DELETE CASCADE, 
    CONSTRAINT uq_parking_zone_facility_code UNIQUE (facility_id, code)
);

CREATE INDEX ix_parking_zone_facility ON parking_zones (facility_id);

CREATE INDEX ix_parking_zone_parent ON parking_zones (parent_zone_id);

CREATE INDEX ix_parking_zone_type ON parking_zones (zone_type);

UPDATE alembic_version SET version_num='bbb78a8d290c' WHERE alembic_version.version_num = 'f200ea283f04';

-- Running upgrade bbb78a8d290c -> 3d4c1ea2f514

CREATE TYPE bay_type AS ENUM ('STANDARD', 'ACCESSIBLE', 'EV_CHARGING', 'VIP', 'COMPACT', 'LARGE', 'MOTORCYCLE', 'STAFF', 'VISITOR', 'LOADING');

CREATE TYPE vehicle_type AS ENUM ('CAR', 'SUV', 'TRUCK', 'MOTORCYCLE', 'BUS', 'ANY');

CREATE TYPE bay_size AS ENUM ('SMALL', 'MEDIUM', 'LARGE');

CREATE TABLE parking_bays (
    id SERIAL NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    zone_id INTEGER NOT NULL, 
    bay_number VARCHAR(20) NOT NULL, 
    code VARCHAR(30) NOT NULL, 
    bay_type bay_type NOT NULL, 
    vehicle_type vehicle_type NOT NULL, 
    size bay_size NOT NULL, 
    is_accessible BOOLEAN NOT NULL, 
    is_ev_charging BOOLEAN NOT NULL, 
    is_vip BOOLEAN NOT NULL, 
    is_reservable BOOLEAN NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    sort_order INTEGER NOT NULL, 
    description TEXT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(zone_id) REFERENCES parking_zones (id) ON DELETE CASCADE, 
    CONSTRAINT uq_parking_bay_zone_number UNIQUE (zone_id, bay_number), 
    CONSTRAINT uq_parking_bay_zone_code UNIQUE (zone_id, code)
);

COMMENT ON COLUMN parking_bays.bay_number IS 'Human-readable bay number (e.g. A01, B15, EV-03).';

COMMENT ON COLUMN parking_bays.code IS 'Unique internal code for the parking bay.';

CREATE INDEX ix_parking_bay_zone_id ON parking_bays (zone_id);

CREATE INDEX ix_parking_bay_bay_type ON parking_bays (bay_type);

CREATE INDEX ix_parking_bay_vehicle_type ON parking_bays (vehicle_type);

CREATE INDEX ix_parking_bay_is_active ON parking_bays (is_active);

CREATE INDEX ix_parking_bays_id ON parking_bays (id);

UPDATE alembic_version SET version_num='3d4c1ea2f514' WHERE alembic_version.version_num = 'bbb78a8d290c';

-- Running upgrade 3d4c1ea2f514 -> 89a7829c591e

CREATE TYPE facility_type AS ENUM ('SHOPPING_MALL', 'UNIVERSITY', 'OFFICE', 'AIRPORT', 'HOSPITAL', 'HOTEL', 'RESIDENTIAL', 'MUNICIPAL', 'STADIUM', 'TRANSPORT_HUB', 'INDUSTRIAL', 'PUBLIC', 'OTHER');

ALTER TABLE parking_facilities
        ALTER COLUMN facility_type
        TYPE facility_type
        USING facility_type::facility_type;;

COMMENT ON COLUMN parking_facilities.code IS NULL;

ALTER TABLE parking_facilities ALTER COLUMN facility_type TYPE facility_type;

COMMENT ON COLUMN parking_facilities.facility_type IS NULL;

ALTER TABLE parking_facilities ALTER COLUMN address DROP NOT NULL;

COMMENT ON COLUMN parking_facilities.address IS NULL;

ALTER TABLE parking_facilities ALTER COLUMN city DROP NOT NULL;

COMMENT ON COLUMN parking_facilities.city IS NULL;

ALTER TABLE parking_facilities ALTER COLUMN county DROP NOT NULL;

COMMENT ON COLUMN parking_facilities.county IS NULL;

COMMENT ON COLUMN parking_facilities.country IS NULL;

ALTER TABLE parking_facilities ALTER COLUMN latitude TYPE FLOAT;

ALTER TABLE parking_facilities ALTER COLUMN latitude DROP NOT NULL;

COMMENT ON COLUMN parking_facilities.latitude IS NULL;

ALTER TABLE parking_facilities ALTER COLUMN longitude TYPE FLOAT;

ALTER TABLE parking_facilities ALTER COLUMN longitude DROP NOT NULL;

COMMENT ON COLUMN parking_facilities.longitude IS NULL;

COMMENT ON COLUMN parking_facilities.description IS NULL;

COMMENT ON COLUMN parking_facilities.is_active IS NULL;

DROP INDEX ix_parking_facility_code;

DROP INDEX ix_parking_facility_name;

CREATE UNIQUE INDEX ix_parking_facilities_code ON parking_facilities (code);

CREATE UNIQUE INDEX ix_parking_facilities_name ON parking_facilities (name);

ALTER TABLE parking_facilities DROP COLUMN postal_code;

ALTER TABLE parking_facilities DROP COLUMN closing_time;

ALTER TABLE parking_facilities DROP COLUMN timezone;

ALTER TABLE parking_facilities DROP COLUMN opening_time;

UPDATE alembic_version SET version_num='89a7829c591e' WHERE alembic_version.version_num = '3d4c1ea2f514';

-- Running upgrade 89a7829c591e -> 8a0776922237

CREATE TYPE session_status AS ENUM ('ACTIVE', 'COMPLETED', 'CANCELLED', 'EXPIRED');

CREATE TYPE session_source AS ENUM ('ATTENDANT', 'RESERVATION', 'DRIVE_IN', 'SENSOR', 'API');

CREATE TYPE entry_method AS ENUM ('MANUAL', 'QR_CODE', 'RFID', 'ANPR', 'MOBILE_APP', 'SENSOR');

CREATE TYPE exit_method AS ENUM ('MANUAL', 'QR_CODE', 'RFID', 'ANPR', 'MOBILE_APP', 'SENSOR');

CREATE TYPE payment_status AS ENUM ('PENDING', 'PARTIAL', 'PAID', 'FAILED', 'WAIVED', 'REFUNDED');

CREATE TABLE parking_sessions (
    session_number VARCHAR(30) NOT NULL, 
    parking_bay_id INTEGER NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    vehicle_registration VARCHAR(20) NOT NULL, 
    vehicle_type vehicle_type NOT NULL, 
    status session_status DEFAULT 'ACTIVE' NOT NULL, 
    session_source session_source NOT NULL, 
    entry_method entry_method NOT NULL, 
    exit_method exit_method, 
    entry_time TIMESTAMP WITH TIME ZONE NOT NULL, 
    expected_exit_time TIMESTAMP WITH TIME ZONE, 
    exit_time TIMESTAMP WITH TIME ZONE, 
    duration_minutes INTEGER, 
    calculated_amount NUMERIC(10, 2) DEFAULT 0.00 NOT NULL, 
    paid_amount NUMERIC(10, 2) DEFAULT 0.00 NOT NULL, 
    payment_status payment_status DEFAULT 'PENDING' NOT NULL, 
    notes TEXT, 
    id SERIAL NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(parking_bay_id) REFERENCES parking_bays (id) ON DELETE RESTRICT, 
    FOREIGN KEY(created_by) REFERENCES users (id) ON DELETE SET NULL, 
    FOREIGN KEY(updated_by) REFERENCES users (id) ON DELETE SET NULL, 
    CONSTRAINT uq_parking_sessions_session_number UNIQUE (session_number)
);

CREATE INDEX ix_parking_sessions_bay ON parking_sessions (parking_bay_id);

CREATE INDEX ix_parking_sessions_entry_time ON parking_sessions (entry_time);

CREATE INDEX ix_parking_sessions_payment_status ON parking_sessions (payment_status);

CREATE INDEX ix_parking_sessions_status ON parking_sessions (status);

CREATE INDEX ix_parking_sessions_vehicle ON parking_sessions (vehicle_registration);

UPDATE alembic_version SET version_num='8a0776922237' WHERE alembic_version.version_num = '89a7829c591e';

-- Running upgrade 8a0776922237 -> 25c3c4f606d2

ALTER TABLE parking_facilities ADD COLUMN postal_code VARCHAR(20);

ALTER TABLE parking_facilities ADD COLUMN timezone VARCHAR(50) DEFAULT 'Africa/Nairobi' NOT NULL;

ALTER TABLE parking_facilities ADD COLUMN opening_time TIME WITHOUT TIME ZONE DEFAULT '06:00:00' NOT NULL;

ALTER TABLE parking_facilities ADD COLUMN closing_time TIME WITHOUT TIME ZONE DEFAULT '22:00:00' NOT NULL;

ALTER TABLE parking_facilities ALTER COLUMN timezone DROP DEFAULT;

ALTER TABLE parking_facilities ALTER COLUMN opening_time DROP DEFAULT;

ALTER TABLE parking_facilities ALTER COLUMN closing_time DROP DEFAULT;

UPDATE alembic_version SET version_num='25c3c4f606d2' WHERE alembic_version.version_num = '8a0776922237';

-- Running upgrade 25c3c4f606d2 -> f9aedb8b4114

CREATE TYPE billing_type AS ENUM ('HOURLY', 'DAILY', 'FLAT');

CREATE TABLE parking_tariffs (
    id SERIAL NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    code VARCHAR(50) NOT NULL, 
    display_order INTEGER DEFAULT '1' NOT NULL, 
    pricing_priority INTEGER DEFAULT '100' NOT NULL, 
    vehicle_type vehicle_type NOT NULL, 
    billing_type billing_type NOT NULL, 
    currency VARCHAR(3) DEFAULT 'KES' NOT NULL, 
    grace_period_minutes INTEGER DEFAULT '0' NOT NULL, 
    minimum_charge NUMERIC(10, 2), 
    hourly_rate NUMERIC(10, 2), 
    daily_rate NUMERIC(10, 2), 
    flat_rate NUMERIC(10, 2), 
    max_daily_charge NUMERIC(10, 2), 
    effective_from TIMESTAMP WITH TIME ZONE NOT NULL, 
    effective_to TIMESTAMP WITH TIME ZONE, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_by INTEGER, 
    updated_by INTEGER, 
    notes TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_parking_tariffs_code UNIQUE (code), 
    FOREIGN KEY(created_by) REFERENCES users (id) ON DELETE SET NULL, 
    FOREIGN KEY(updated_by) REFERENCES users (id) ON DELETE SET NULL, 
    CONSTRAINT ck_tariff_grace_period CHECK (grace_period_minutes >= 0), 
    CONSTRAINT ck_tariff_priority CHECK (pricing_priority > 0), 
    CONSTRAINT ck_tariff_minimum_charge CHECK (minimum_charge IS NULL OR minimum_charge >= 0), 
    CONSTRAINT ck_tariff_hourly_rate CHECK (hourly_rate IS NULL OR hourly_rate >= 0), 
    CONSTRAINT ck_tariff_daily_rate CHECK (daily_rate IS NULL OR daily_rate >= 0), 
    CONSTRAINT ck_tariff_flat_rate CHECK (flat_rate IS NULL OR flat_rate >= 0), 
    CONSTRAINT ck_tariff_max_daily_charge CHECK (max_daily_charge IS NULL OR max_daily_charge >= 0)
);

CREATE INDEX ix_tariff_vehicle_type ON parking_tariffs (vehicle_type);

CREATE INDEX ix_tariff_billing_type ON parking_tariffs (billing_type);

CREATE INDEX ix_tariff_active ON parking_tariffs (is_active);

CREATE INDEX ix_tariff_priority ON parking_tariffs (pricing_priority);

CREATE INDEX ix_tariff_effective_from ON parking_tariffs (effective_from);

CREATE INDEX ix_tariff_effective_to ON parking_tariffs (effective_to);

CREATE INDEX ix_tariff_lookup ON parking_tariffs (vehicle_type, billing_type, is_active, pricing_priority);

UPDATE alembic_version SET version_num='f9aedb8b4114' WHERE alembic_version.version_num = '25c3c4f606d2';

COMMIT;

